@model ProductListViewModel
<div class="paging">
    @if (Model?.PagingInfo.TotalPages > 0)
    {
        <ul class="pagination align-content-end">

            <li>
                <a class="btn page-link" asp-controller="Home" asp-action="Index" asp-route-category="@Model?.Category" asp-route-pageNumber="@(Model?.PagingInfo.StartPage)">Begin</a>
            </li>

            <li class="page-item ">
                <a class="btn page-link" asp-controller="Home" asp-action="Index" asp-route-category="@Model?.Category" asp-route-pageNumber="@(Model?.PagingInfo.CurrentPage > 1?Model?.PagingInfo.CurrentPage -1 : Model?.PagingInfo.CurrentPage)">Previous</a>
            </li>

            @for (int i = Model.PagingInfo.StartPage; i <= Model?.PagingInfo.EndPage; ++i)
            {
                <li class="page-item @(i == Model.PagingInfo.CurrentPage?"active":"")">
                    <a class="btn page-link" asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category" asp-route-pageNumber="@i">@i</a>
                </li>
            }

            <li class="page-item ">
                <a class="btn page-link" asp-controller="Home" asp-action="Index" asp-route-category="@Model?.Category" asp-route-pageNumber="@(Model?.PagingInfo.CurrentPage<Model?.PagingInfo.EndPage? Model?.PagingInfo.CurrentPage + 1:Model?.PagingInfo.CurrentPage)">Next</a>
            </li>

            <li>
                <a class="btn page-link" asp-controller="Home" asp-action="Index" asp-route-category="@Model?.Category" asp-route-pageNumber="@(Model?.PagingInfo.EndPage)">Last</a>
            </li>
        </ul>
    }

</div>